<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <!--     <link href="{{ ASSET_PATH }}/css/reset.css" rel="stylesheet">-->
    <link href="{{ ASSET_PATH }}/css/bootstrap.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/css/lightbox.css" rel="stylesheet" />
    <style type="text/css" media="screen">
      body {
        /*padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        padding-bottom: 30px;
      }
    </style>

    <!--<link href="{{ ASSET_PATH }}/css/bootstrap-responsive.min.css" rel="stylesheet">-->
    <link href="{{ ASSET_PATH }}/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Lato|Tangerine|PT+Sans|Open+Sans|Vollkorn|Amaranth">

    <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <!-- <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a> -->
          <div class="nav-collapse">
            <ul class="nav">
              <li {% if p.url == page.url %} 
                        class = "active" 
                        {% endif %} >
                      <a 
                        href="{{ HOME_PATH }}"> Home
                      </a>
              </li>
              {% for weight in (1..10) %}
                {% for p in site.pages %}
                  {% if p.weight == weight %}
                    <li {% if p.url == page.url %} 
                        class = "active" 
                        {% endif %} >
                      <a 
                        href="{{ BASE_PATH }}{{ p.url }}"> {{ p.title }}
                      </a>
                    </li>
                  {% endif %}
                {% endfor %}
              {% endfor %}
               <li class="dropdown">
                <a href="#" class="dropdown-toggle pull-right" data-toggle="dropdown">More <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  {% for page in site.pages %}
                    {% if page.categories contains 'more' %}
                        <li><a href="{{ BASE_PATH }}{{ page.url }}">{{ page.title }}</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
              </li>
            </ul>
            <!-- <ul class="navbar-text pull-right">
              <div rel="popover" data-html="true" id="navbar-name" data-toggle="popover" data-content="
B.M. Jazz Guitar<br/>
<b>New England Conservatory</b>" data-delay-hide= "2000" data-trigger="hover" data-placement="bottom" >Paul Shumsky</span>
            </ul> -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

   
      <div class="container site-body">
        {{content}}
      </div>
    <footer>
        <ul id="footer-list"><li> <img src="{{ BASE_PATH }}/assets/images/paul_email.png"></img></li><li><span></span>(860) 569-7799</li><li><span></span>East Hartford, CT 06118</li><ul>
      </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
     <script>window.jQuery || document.write('<script src="{{ ASSET_PATH }}/js/jquery.min.js"><\/script>')</script>
    
     <!--[if lt IE 9]>
    <script type="text/javascript" src="/assets/js/PIE.js"/>
    <![endif]-->
    <script src="{{ ASSET_PATH }}/js/bootstrap.min.js"></script>
    <script src="{{ ASSET_PATH }}/js/lightbox.js"></script>
     <script>
     jQuery(function() { 
           jQuery(".dropdown-toggle").dropdown();
});</script>
      <!-- <script src="{{ASSET_PATH}}/js/gallery.js"></script>-->
    {% include JB/analytics %}
  </body>
</html>
