<ul class="pictures set">	
{% for pic in page.pictures %}
	<li>
	  <a href="{{pic.url}}" rel="lightbox[gallery]"    title="{{pic.caption}}">
	  	<img src="{{pic.url}}" alt="{{ pic.caption }}"/>
	  </a>
  </li>
{% endfor %}
</ul>



<style type="text/css">

img {
	height: 200px;
	width: auto;
}

ul.set {
	display: inline-block;
	list-style-type: none;
}

ul.set li {
	display: inline-block;
	
	border: solid 5px #eee;
	margin: 5px;
}

ul.set li:hover {	
	border: solid 5px #bbb;
	margin: 5px;
}
/*	.picture-row {
		margin-left: 4px;
		overflow: none;
	}
	.picture-row:nth-of-type(even){
		background-color: rgb(150, 144, 144);
	}
	.picture-row:nth-of-type(odd) .picture{
		float:left;
	}
	.picture-row:nth-of-type(odd) .description {
		float: right;
	}
	.picture-row:nth-of-type(even) .picture{
		float:right;
	}
	.picture-row:nth-of-type(even) .description {
		float: right;
	}*/

	
</style>

