<div class="pictures set">	
{% for pic in page.pictures %}
  <div class="picture-row row">
  	<div class="picture span4">
	  <a href="{{pic.url}}" rel="lightbox[gallery]" title="{{pic.caption}}">
	  	<img src="{{pic.url}}" alt="{{ pic.caption }}"/>
	  </a>
	</div>
	<div class="description span3">
	  {{pic.caption}}
	  {% if pic.photo_by %}
	  <div class="photo-by">
	  	Photo by: {{ pic.photo_by }}
	  </div>
	  {% endif %}
	</div>
  </div>
{% endfor %}
</div>

<style type="text/css">
	.picture-row {
		margin-left: 4px;
		overflow: none;
	}
	.picture-row:nth-of-type(even){
		background-color: rgb(150, 144, 144);
	}
	.picture-row:nth-of-type(odd) .picture{
		float:left;
	}
	.picture-row:nth-of-type(odd) .description {
		float: right;
	}
	.picture-row:nth-of-type(even) .picture{
		float:right;
	}
	.picture-row:nth-of-type(even) .description {
		float: right;
	}

	
</style>