<ul class="pictures set">	
{% for pic in page.pictures %}
	<li class="picture-box" data-description="{{pic.caption}}">
	  <a href="{{pic.url}}" rel="lightbox[gallery]"    title="{{pic.caption}}">
	  	<img src="{{pic.url}}" alt="{{ pic.caption }}"/>
	  </a>
	  <div class="picture-description" style="display:none;">{{pic.caption}}</div>
  </li>
{% endfor %}
</ul>




<style type="text/css">

img {
	height: 200px;
	width: auto;
}

ul.set {
	display: inline-block;
	list-style-type: none;
}

ul.set li {
	display: inline-block;
	
	border: solid 5px #eee;
	margin: 5px;
}

ul.set li:hover {	
	border: solid 5px #bbb;
	margin: 5px;
}

	
</style>

