 <div class="home-banner">
    <h1>Beyond Basics Guitar with Paul Shumsky</h1>
    <h2>Over three decades of personalized instruction</h2>
  </div>
<div class="home">
  <div class="row content">
 

  <div class="row">
    <div class="span8 home-list-banner">{{ content }}</div>
    <div class="span4"><img src="{{ BASE_PATH }}/assets/images/paul-homepage-pic.jpg"/>
    	<div class="home-pic-caption"><p>B.M. Jazz Guitar Performance</p>
      <p> New England Conservatory of Music</p></div>
    </div>
  </div>
 
  
</div>
</div>