<div class="home-banner">
  <h1><span itemprop="name">Beyond Basics Guitar </span>with Paul Shumsky</h1>
    <div id="fb-root"></div>
    <h2>Over three decades of personalized instruction</h2>
  </div>
<div class="home">
  <div class="row content">
 

  <div class="row">
    <div class="span8 home-list-banner">{{ content }}</div>
    <div class="span4"><img itemprop="image" src="{{ BASE_PATH }}/assets/images/paul-homepage-pic.jpg"/>
    	<div class="home-pic-caption"><p>Bachelor of Music in Jazz Guitar</p>
      <p> New England Conservatory of Music</p></div>
      <div class="fb-follow" data-href="https://www.facebook.com/BeyondBasicsGuitar" data-width="450" data-show-faces="true"></div>
    </div>
  </div>
 
  
</div>
</div>
