/* Override some defaults */
html, body {
  
  background-image: url("../img/background.png");
  border-repeat: repeat: 
}
footer p {
  text-align: center; /* center align it with the container */
}

/* The white background content wrapper */
.content {
  background-color: #fff;
  padding: 20px;
  margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/*.navbar {
  background-color: #000;
}*/
.navbar-inner {
  background: rgb(0,9, 10) url("../img/navbar-background.png");

}

.navbar .brand {
  color: rgb(202, 202, 202);
}

.navbar .nav > li > a {
  color: #bbb;
  font-family: "PT Sans" sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.navbar .nav > li:hover {
  background-color: #000;
  
}



/* Page header tweaks */
.page-header {
  background-color: #f5f5f5;
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
}

.topbar .btn {
  border: 0;
}


#navbar-name {
  text-transform:uppercase; 
  color: #eee;
  text-shadow: white 1px 1px 1px;
  font-size: 17pt;
  font-family: 'Palatino Linotype', serif;
}


#banner-list li {
  line-height: 54px;
}

/* tag_box ======================================================== */

.tag_box {
  list-style:none;
  margin:0;
  padding:5px 0 ;
  overflow:hidden;
}
.tag_box li {
  line-height:28px;
}
.tag_box.inline li {
  float:left;
}
.tag_box a {
  padding: 3px 6px;
  margin: 2px;
  background: #eee;
  color:#005F6B;
  border-radius: 3px;
  text-decoration:none;
}
.tag_box a span{
  vertical-align:super;
  font-size:0.8em;
}
.tag_box a.active {
  background:#57A957;
  border:1px solid #4C964D;
  color:#FFF;
}



.site-body {
  margin-top: 10px;
}




.banner {
   background-color: #fff;
  padding: 20px;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.banner h2{
  font-family: "Tangerine", serif;
  font-size: 50px;
}

.sidebar {
   background-color: #fff;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
          box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.right-bar-guitar {
  right: 0;
  padding-left: 200px;
  padding-top: 20px;
}

.navbar-affix {
    position: fixed; 
    top: 40px;  
}

.action {
  margin-top: 10px;
}

.boxes {
  border-top: solid 1px #000;
  margin-left: 10px;
}


.home .content {
   background-image: url('../img/guitar-bg.png');
    background-repeat: no-repeat;    
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 2px 2px rgba(0,0,0,.15);
          box-shadow: 0 2px 2px rgba(0,0,0,.15);
    padding-bottom: 50px;
    margin-bottom:12px;
}

.home-list-banner h2 {
  font-family: "Open Sans" , "Arial Black", serif;
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 10px;
}

#banner-list {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

.quote {
  font-family: "Vollkorn", sans-serif;
  line-height: 2em;
  font-size: 1.5em;
  
min-height: 40px;
padding: .6em 1em .6em 2.4em;
border: 1px dotted #ddd;
font-style: italic;
color: #474747;
background: #fff url("../img/blockquote.png") no-repeat 4px top;
}

.tagline {
  padding: 5px;
  background-color: #eee;
  font-family: "Lato", "sans", serif;
  -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.15);
     -moz-box-shadow: 0 2px 2px rgba(0,0,0,.15);
          box-shadow: 0 2px 2px rgba(0,0,0,.15);
}

.copyright-text {
  font-size: smaller;
  line-height: 0px;
}
